
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read, create: if isOwner(userId);
      allow update, delete, list: if false;
    }

    match /messages/{messageId} {
      // Any authenticated user can create a message.
      allow create: if request.auth != null;

      // Users can only read messages if they are the sender or the recipient.
      allow read: if request.auth != null && 
                  (resource.data.senderUsername == get(/databases/$(database)/documents/users/$(request.auth.uid)).data.username ||
                   resource.data.recipientUsername == get(/databases/$(database)/documents/users/$(request.auth.uid)).data.username);
                   
      // No one can list all messages or update/delete them.
      allow list, update, delete: if false;
    }
  }
}
